@tailwind base;
@tailwind components;
@tailwind utilities;

/* Indigo shades:  
900- #312E81
800 - #3730A3
700 - #4338CA
600 - #4F46E5
500 - #6366F1
400 - #818CF8
300 - #A5B4FC
200 - #C7D2FE
100 - #E0E7FF
50 - #EEF2FF
*/

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 tracking-wide;
  }

  .container {
    @apply lg:px-40 md:px-10 max-md:px-8 mx-auto pb-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  p {
    @apply text-lg text-gray-600;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply text-white text-lg font-semibold bg-indigo-500 rounded hover:bg-indigo-600;
  }
}

.icon {
  filter: invert(23%) sepia(78%) saturate(4225%) hue-rotate(241deg)
    brightness(94%) contrast(90%);
}

/* Equivalent to gray-800 */
.social-icons {
  filter: invert(12%) sepia(20%) saturate(1053%) hue-rotate(175deg)
    brightness(96%) contrast(90%);
}

/* White icons for Buttons */
.iconForBtn {
  filter: invert(100%) sepia(4%) saturate(105%) hue-rotate(27deg)
    brightness(115%) contrast(100%);
}

.underlineEffect {
  @apply underline decoration-indigo-400 decoration-solid decoration-[6px] underline-offset-4;
}

/* Define the components layer */
@layer components {
  .section {
    @apply lg:px-0 md:px-0 px-4;
  }
}

/* Scale up image on hover */
.image-scale-up {
  @apply hover:scale-105 transition-all duration-300;
}

/* Dim image on hover */
.image-dim {
  @apply transition duration-300 ease-in-out hover:brightness-90;
}
